/* Navbar Container */
.navbar {
    background-color: #333;
    padding: 0.75rem 1rem;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keeps navbar on top when scrolling */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures navbar stays on top */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow */
    transition: background-color 0.3s ease; /* Smooth background transition */
  }
  
  .navbar:hover {
    background-color: #5A67D8; 
  }
  
  
  .navbar .brand {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Navbar List */
  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 1.5rem;
  }
  
  /* Navbar Links */
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    transition: color 0.3s ease; 
  }
  
  /* Hover Effects for Links */
  .navbar a:hover {
    color: #ff5733; /* hover color */
    text-decoration: underline;
    transform: none;
  }

  .navbar a.active {
    color: #ff5733;
    text-decoration: underline;
  }
  
  /* for smaller screens */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 1rem;
    }
  
    .navbar ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .navbar li {
      margin: 1rem 0;
    }
  
    .navbar a {
      font-size: 16px;
    }
  }
  